.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav li {
  margin: 0;
  margin-left: 2rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover,
.nav a:active {
  color: #fad840;
}

.nav button {
  font: inherit;
  font-weight: 600;
  background: #fad840;
  padding: 0.5rem 1.5rem;
  color: rgb(53, 53, 53);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  border: 1px solid #fad840;
}

.nav button:focus {
  outline: none;
}

.nav button:hover,
.nav button:active {
  color: #fad840;
  background: transparent;
  border: 1px solid #fad840;
}
