.button {
  cursor: pointer;
  font: inherit;
  border: 1px solid transparent;
  background-color: #d6b239;
  color: #292926;
  padding: 0.45rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
   border-radius: 70% / 15%;
  font-weight: bold;
  transition: all 0.2s ease-in;
}

.button:hover,
.button:active {
  background: transparent;
  border: 1px solid #d6b239;
  color: aliceblue;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #363531;
  color: bisque;
  border: 1px solid transparent;
  padding: 0.25rem 1rem;
  border-radius: 50% / 8%;
  margin-left: 1rem;
  font-weight: bold;
  transition: all 0.2s ease-in;
}

.button:hover .badge,
.button:active .badge {
  background-color: transparent;
  border: 1px solid bisque;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
