.button {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #f6e35a;
  color: rgb(51, 51, 51);
  background: #f1db2f;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 5px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #f7ca37ea;
  border-color: #fdc200ea;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}
