@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

/*============== Header ==================*/
#header {
  text-align: center;
  margin: 3rem auto;
}

#header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

#header h1 {
  font-size: 1.5rem;
}

/*============== User-Input ==============*/
#user-input {
  padding: 1.2rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: radial-gradient(
    circle at top,
    rgba(250, 210, 33, 0.98),
    rgba(255, 179, 103, 0.87)
  );
  color: rgba(153, 77, 0, 0.87);
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.7px;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #f6e35a;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #413800;
  font-size: 1rem;
}

/*============== Result ===============*/
#result {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

#result thead {
  font-size: 0.9rem;
  color: rgba(253, 213, 36, 0.98);
}

#result tbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.95rem;
  color: rgba(255, 253, 240, 0.98);
}

.center {
  text-align: center;
}
