.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 3rem;
  border-radius: 70% / 35%;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.7rem;
  outline: none;
  box-shadow: 2px -1px 4px rgba(0, 0, 0, 0.2);
}
